.navItems:hover {
    color: inherit;
    background: none !important;
}
.linkItem {
    color: inherit !important;
    text-decoration: none !important;
    background: none !important;
}
@media (width < 500px){
    .container {
        padding: 0 !important;
    }
}