@media (width < 500px) {
    .downloadText1, .downloadText2 {
        text-align: center !important;
    }
    .downloadText1 {
        font-size: 1.5rem !important;
        margin: 0 auto !important;
    }
    .downloadText2 {
        font-size: 1rem !important;
    }
    .container {
        padding: 0 2rem !important;
    }
}